{% extends 'base.html '%}

{%  block titulo %}
   Form Hoteles
{%  endblock  %}

{% block header %}
<!-- Sobrescribe el bloque del header con nada -->
{% endblock %}

{% block contenido %}
<div class="container mt-5 pt-5"></div>
<h1>{% if form.instance.pk %}Editar{% else %}Registrar{% endif %} Hotel</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Guardar</button>
</form>
<a href="{% url 'hotel_list' %}">Cancelar</a>
</div>

{% endblock %}