{% extends "base.html" %}

{% block navbar %}
 <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'index_usuario' %}">Turismo Tlaxcala</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Inicio</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="serviciosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Servicios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="serviciosDropdown">
                                <li><a class="dropdown-item" href="{% url 'lugar_list' %}">Lugares</a></li>
                                <li><a class="dropdown-item" href="{% url 'hotel_list' %}">Hoteles</a></li>
                                <li><a class="dropdown-item" href="{% url 'restaurante_list' %}">Restaurantes</a></li>
                            </ul>
                        </li>
                                             
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="#">Hola, {{ user.username }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}
{% block contenido %}
<h2>Bienvenido Usuario</h2>
<p>Esta es la página de inicio del usuario.</p>
{% endblock %}
