{% extends 'base.html' %}


{% block titulo %}Lista de Usuarios{% endblock %}

{% block header %}
<!-- Sobrescribe el bloque del header con nada -->
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2 class="mb-4">Usuarios Registrados</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Correo electrónico</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.perfil.es_admin %}
                            Administrador
                        {% else %}
                            Usuario
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
